.deps/
.DS_Store
build/
xcuserdata/
project.xcworkspace/
Makefile
Makefile.in
GNUmakefile
lib*.a
*.o
.vs/
Source_File/.vs/
/aclocal.m4
/AlephOne.spec
/autom4te.cache
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/Source_Files/CSeries/confpaths.h
/Source_Files/*/x64/
/Source_Files/x64/
/Source_Files/vcpkg_installed_64/*
/Source_Files/alephone
/Source_Files/*.exe
/*.zip
/*.tar.bz2
*.obj
.vscode/
